<nav class="flex gap-1 items-center flex-wrap" aria-label="Primary">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink class="nav-link" href="journal">Write</NavLink>
    <NavLink class="nav-link" href="palette">Design preview</NavLink>
</nav>
